<!-- Default home page -->
<link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>

<div class="container">
  <div class="row justify-content-md-center">
	<div class="col-md-6 mt-3">
		<h4><span class="badge badge-pill badge-primary"><span class="badge badge-light">URL</span> Shortener</span></h4>
		
		<div id="auth">
			User ID:
			<input type="text" class="form-control"/>
			Key:
			<input type="text" class="form-control"/>
		</div>
	</div>
</div>